@page "/Flipped"
@rendermode RenderMode.InteractiveServer

<PageTitle>Flipped</PageTitle>

<div class="main">
    <div class="logo">
        <img src="images/flipped-logo.png" />
    </div>
    <div class="app">
        <label for="input">
            Enter some text to get it reversed back.
        </label>
        <InputText class="input-text" id="input" @bind-Value="input" />
        <button type="button" @onclick="() => Flip(input)">Flip it!</button>
        @if(output == string.Empty){
            <label for="output">
                <br>
            </label>
        }
        else{
            <label for="output">
                Your reversed string:
            </label>
        }
        <p id="output">
            @output<br>
        </p>
    </div>
</div>