@page "/"

<PageTitle>Home</PageTitle>
    
<div class="main">
    <div class="logo">
        <div class="card">
            <a href="/Flipped">
                <img src="images/flipped-logo.png" />
            </a>
        </div>
    </div>
    <div class="logo">
        <div class="card">
            <a href="/EvilOlive">
                <img src="images/evil-olive-logo.png" />
            </a>
        </div>
    </div>
    <div class="logo">
        <div class="card">
            <a href="/FizzBuzz">
                <img src="images/fizzbuzz-logo.png" />
            </a>
        </div>
    </div>
    <div class="logo">
        <div class="card">
            <a href="/Mortgage">
                <img src="images/mortgage-logo.png" />
            </a>
        </div>
    </div>
</div>
