 <footer class="footer">
    <div>
        <span>Created by Wesley L J Manie</span>
    </div>
    <div>
        <a href="https://github.com/Wljmanie"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>
