@inherits LayoutComponentBase

<div class="site">
    <NavigationTop />
    <main class="site-main">
        <div class="layout">
            @Body
        </div>
    </main>
    <Footer />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
